.bar-senin {
  fill: #1e90ff;
}
.bar-selasa {
  fill: #32cd32;
}
.bar-rabu {
  fill: #ffd700;
}
.bar-kamis {
  fill: #ff4500;
}
.bar-jumat {
  fill: #8a2be2;
}
.bar-sabtu {
  fill: #ff69b4;
}
.bar-minggu {
  fill: #20b2aa;
}
